@import "./settings";

  .resource-destination-window, .resource-selection-window {
    height: 500px;
    min-height: 500px;
    overflow-y: scroll;
    border: 1px solid $light-gray;
  	box-shadow: 1px 1px 10px -2px $light-gray inset;
  }

  .resource-item {
  	cursor: pointer;
  }

  .ghost {
  	opacity: .5;
  	background: $lens-shift-orange;
  }

  .chosen {
  	background: grey;
  }

  .resource-window {
    overflow-y: scroll;
    height: 500px;
  }
