<div class="grid-x">
	<div class="cell small-12 medium-12 large-12">
		<div class="hero">
			<div class="hero-content">
				<p class="hero-heading">Passionate about social impact done right?</p>
				<p class="hero-text">
					LensShift Beta is now live and exclusively open to Beta Users. Join our waitlist and you will be the first to know about our official launch.</p>
				<p class="hero-heading-secondary"> Join  Now!</p>
				<div class="signup-hero-form">
					<!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup">
					<form action="https://lensshift.us11.list-manage.com/subscribe/post?u=9421dbba72fa382fde69f3e0b&amp;id=2f76204e8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						
					<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="email *">
					</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9421dbba72fa382fde69f3e0b_2f76204e8d" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
					</div>
					<!--End mc_embed_signup-->
				</div>

			</div>
		</div>
		<div class="secondary-call">
			The GO-TO hub for responsible social impact in the global development sphere.
		</div>
		<div class="homepage-line">
		<hr class="turqoise-line" />
		<hr class="orange-line" />
		</div>
		<div class="row feature-row">
			<div class="column small-12 medium-4 large-4 feature-column">
				<%= image_tag 'library.png', alt: "resource library icon" %>
				<h5>Library</h5>
				<p>A comprehensive library of existing resources including articles, videos, podcasts, infographics, etc.</p>
			</div>
			<div class="column small-12 medium-4 large-4 feature-column">
				<%= image_tag 'stream.png', alt: "resource library icon" %>
				<h5>Resource Streams</h5>
				<p>Our structured streams will walk you through 15-20 resources from the library to unpack topics fundamental to social impact.</p>
			</div>
			<div class="column small-12 medium-4 large-4 feature-column">
				<%= image_tag 'guide.png', alt: "resource library icon" %>
				<h5>Practical Guides</h5>
				<p>Compact practical guides to distill the learnings from our library and streams into bite-size references that can be tangibly applied in daily work and conversations.</p>
			</div>
		</div>
		<hr />
		<div class="row feature-row">
			<div class="column small-12 medium-6 large-6">
				<!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://lensshift.us11.list-manage.com/subscribe/post?u=9421dbba72fa382fde69f3e0b&amp;id=6f0517aa91" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                            <h4 class="text-center">Subscribe to our mailing list</h4>
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-NAME">Name </label>
                            <input type="text" value="" name="NAME" class="" id="mce-NAME" placeholder="name">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL">Email  *</label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="* email">
                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9421dbba72fa382fde69f3e0b_6f0517aa91" tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->
			</div>
			<div class="column small-12 medium-6 large-6 text-center">
				<h4>Follow Us</h4>
				<div class="social-icon">
					<%= link_to 'https://www.facebook.com/lensshift/' do %><i class="fa fa-facebook-official" aria-hidden="true"></i><% end %>
				</div>
			</div>
		</div>
	</div>
</div>
