<div class="row align-center">
	<div class="column small-12 medium-8 large-8">
		<h1>Editing My Profile</h1>

		<%= render 'form', profile: @profile %>

		<%= link_to 'Show', @profile %> |
		<%= link_to 'Back', profiles_path %>
	</div>
</div>

