<stream-edit inline-template>
	<div class="row align-center">
		<div class="column small-12 medium-6 large-6">
			<h3 class="inline-heading">Editing Stream</h3>
			<%= link_to 'Show', @stream %> |
			<%= link_to 'Back', fellow_streams_path %>
			<br />
			<br />
			<div v-if="notice" :class="['callout', noticeType, 'small']">{{notice}}</div>
			<i v-if="streamLoading" class="fa fa-circle-o-notch fa-spin loading" style="font-size:90px;"></i>
			<stream-form v-if="!streamLoading" :current-stream="stream" :lens-shifters="lensShifters" :action="'update'" v-on:stream-update="updateStream($event)"></stream-form>
		</div>
		

  		<div class="column small-12 medium-6 large-6">
  			<lessons-list :lessons="lessons" :stream-id="stream.id" v-on:edit-lesson="lessonEdit($event)"></lessons-list>
  			<br />
  			<button id="show-modal" v-on:click="newLesson" class="button">Add lesson</button>
 			
 			
 			<lesson-form v-if="showLessonForm" :stream-id="<%= @stream.id %>" v-on:lesson="addLesson($event)" :current-lesson="currentLesson" v-on:lesson-change="updateLessonsList($event)" v-on:close="showLessonForm = false"></lesson-form>
 		</div>
		
	</div>
</stream-edit>