<div class="row align-center">
	<div class="column small-12 medium-10 large-10">
		<b>New Page</b>

		<%= render 'form', page: @page %>

		<%= link_to 'Show', @page %> |
		<%= link_to 'Back', fellow_static_pages_path %>
	</div>
</div>
