<photo-list inline-template>
	<div>
		<h2>Images & Documents</h2>
		<table v-if="fileURL">
			<tr>
				<td>
					<img v-if="fileType === 'image'" :src="fileURL" class="table-image" />
					<span v-else><i class="fa fa-file-text" aria-hidden="true"></i> {{fileName}}
				</td>
				<td>
					<input type="text" v-model="fileObject.title" placeholder="title" class="table-input"/>
				</td>
				<td>
					<input type="text" v-model="fileObject.desc" placeholder="description" class="table-input" />
				</td>
				<td>
					<button class="button table-input" v-on:click="saveFile($event)"><small>save file</small></button>
				</td>
			</tr>
		</table>
		<input ref="fileUpload" type="file" style="display: none;" class="image_preview optional" v-on:change="onFileChange($event, 'photo')">
		<button class="button" v-on:click="onPickFile('fileUpload')">Add new photo/file</button>
		<h3>Images</h3>
		<div class="asset-frame">
			<table class="unstriped">
				<tr v-for="photo in photos">
					<td>
						<img :src="photo.image.thumb.url" alt="resource thumbnail" class="table-image" />
					</td>
					<td>
						{{photo.title}}
					</td>
					<td>
						{{photo.desc}}
					</td>
					<td>
						<small>{{photo.image.url}}</small>
					</td>
				</tr>
			</table>
		</div>
		<h3>Files</h3>
		<div class="asset-frame">
		<table class="unstriped">
			<tr v-for="doc in documents">
				<td>
					<i class="fa fa-file-text" aria-hidden="true"></i> {{doc.title}}
				</td>
				<td>
					{{doc.desc}}
				</td>
				<td>
					<small>{{doc.file.url}}</small>
				</td>
			</tr>
		</table>
		</div>
	</div>
</photo-list>