@import "./settings";
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:400,500,700');
@font-face {
    font-family: 'League Spartan';
    src: url('leaguespartan-bold.eot');
    src: url('leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('leaguespartan-bold.woff2') format('woff2'),
         url('leaguespartan-bold.woff') format('woff'),
         url('leaguespartan-bold.ttf') format('truetype'),
         url('leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html, body {
	height: 100%;
	width: 100%;
}

select {
	border-radius: 0;
}

a.button {
	color: $white !important;
}

.table-button {
	margin-bottom: 0px !important;
}

img {
	width: 100%;
}

input[type="search"] {
	background-repeat: no-repeat;
    background-position: 8px 53%;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="#000" fill-opacity="0.4" d="M14.891,14.39l-0.5.5a0.355,0.355,0,0,1-.5,0L9.526,10.529a5.3,5.3,0,1,1,2.106-4.212,5.268,5.268,0,0,1-1.1,3.21l4.362,4.362A0.354,0.354,0,0,1,14.891,14.39ZM6.316,2.418a3.9,3.9,0,1,0,3.9,3.9A3.9,3.9,0,0,0,6.316,2.418Z"/></svg>');
	padding-left: 32px;
}
//utilities

.is-orange {
	background: $lens-shift-orange !important;
}

.is-lightgray {
	background: $light-gray !important;
}

.lens-shift-turqoise {
	background: $lens-shift-turqoise !important;
}

.inline-heading {
	display: inline;
	margin-right: 25px;
}

// body containers

#main-container {
	height: 100%;
	min-height: 800px;
	padding: 50px 25px 25px 25px;
	margin-top: 85px;
	margin-bottom: -200px;
	overflow-x: hidden;
}

#landing-container {
	height: 100%;
	min-height: 800px;
	padding: 25px 25px;
	margin-bottom: -200px;
}

#home-container {
	height: 100%;
	min-height: 1200px;
	padding: 0px 0px;
	margin-bottom: -200px;
}

// hero containers

.hero {
	width: 100%;
	background-image: image-url('landing.jpg');
	min-height: 450px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	font-family: 'League Spartan', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.signup-hero {
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: image-url('from-the-road.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.signup-inner {
	background: $lens-shift-gray;
	opacity: 0.8;
	width: 90%;
	color: white;
	padding: 20px 20px;
	margin: auto auto;
}

.signup-hero-form {
	width: 50%;
	margin: auto auto;
}


// navigation containers
// regular

#ls-top-bar {
	padding: 0px !important;
	height: 85px;
	position: fixed;
	border-bottom: 10px solid $lens-shift-turqoise;
	top: 0;
	z-index: 996;
	transition: top 0.2s ease-in-out, left 1s ease-in-out;
  	-webkit-transition: top 0.2s ease-in-out, left 1s ease-in-out;
}

#landing-top-bar {
	padding: 0px !important;
}

.nav-up {
  top: -100px !important;
}

.menu {
	align-items: center;
}

.menu .link {
	color: $lens-shift-gray;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 75px;
}

.menu .link:hover {
	color: $lens-shift-turqoise;
	background: $white;
}


.vertical.menu li {
	width: 100%;
}

.side-menu {
	position: fixed;
	background: $lens-shift-gray;
	left: 1400px;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 25px 25px !important;
	z-index: 999;

}

.menu .side-link {
	width: 100%;
	color: $white;
	font-weight: 700;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 50px;
	cursor: pointer;
}

.vertical.menu .side-link:hover {
	color: $lens-shift-orange;
}



.menu-close {
	color: $white;
	cursor: pointer;
}

.menu-close:hover {
	color: $lens-shift-orange;
}

#down-menu-toggle, #home-menu {
	display: none
}

#down-menu-toggle:checked + #home-menu {
	display: flex;
}

// menu utilities used in Dashboard

.menu-border {
	border-bottom: 5px solid $lens-shift-turqoise;
}

.menu-border li {
	margin-bottom: 5px;
	margin-left: 1rem;
	margin-right: 1rem;
	font-weight: 700;
}

.admin-menu li {
	margin-top: 3px;
}


// avatars

.avatar {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	padding: 0px !important;
	margin: 0px 5px 0px 5px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	background: $dark-gray;
	color: $lens-shift-gray;
	overflow: hidden;
}

.avatar:hover {
	opacity: 0.8;
	background: $lens-shift-turqoise;
}

.avatar-icon {
	font-size: 90px !important;
}

.profile-avatar {
	border-radius: 50%;
	height: 200px;
	width: 200px;
	padding: 0px !important;
	margin: auto auto;
	display: flex !important;
	align-items: center;
	justify-content: center;
	background: $light-gray;
	color: $lens-shift-gray;
	cursor: pointer;
	overflow: hidden;
}

.image-save-button {
	margin-top: 10px;
	width: 200px;
}

.profile-avatar:hover {
	opacity: 0.5;
	background: $lens-shift-gray;
	color: $light-gray;
}

.profile-avatar img:hover {
	opacity: 0.5;
}

.avatar:hover {
	color: $lens-shift-gray;
}

.avatar a {
	padding: 0px !important;
}

.avatar a > img {
	width: 100% !important;
}

.inline-form {
	display: inline-block;
}

.logo {
	width: 100px;
}

.push {
	height: 250px;
}

#landing-push {
	height: 200px;
}

// footers

.footer-logo {
	width: 85px;
}

.footer {
	min-height: 250px;
	background-color: $lens-shift-gray;
}

.footer-cell {
	padding: 50px 50px !important;
	color: $white;
}

.footer-item {
	margin-bottom: 15px;
	display: block;
	color: $white;
}

a.footer-item:hover {
	color: $lens-shift-orange;
}


.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.clr {
	clear: both;
}

.vertical-spacer {
	margin-bottom: 50px;
}

.show {
  visibility: visible !important;
  display: block !important;
}

.relative-block {
	position: relative;
	margin-bottom: 1rem;
}

.dropdown-input {
	margin-bottom: 0 !important;
}

.dropdown-options {
	width: 100% !important;
	margin-left: 0;
	list-style-type: none;
	padding: 0 !important;
	position: absolute;
	z-index: 10;
	border: 0.5px solid black;
	background: $white;
}

.select-option-item {
	padding: 0.5rem 1rem;
}

.select-option-active, .select-option-item:hover {
	background: $light-gray;
}

.analysis-content {
	margin-bottom: 50px;
}

.horizontal-table-head {
	background: $light-gray;
}

.clickable-image {
	cursor: pointer;
}

.warning {
	color: red;
}

.image_preview {
	max-width: 400px !important;
}

.type-icon {
	float: right;
	font-size: 20px;
}

// resource library card image holders

.image-holder {
	background: $light-gray;
	color: $white;
	padding-bottom: 100%;
	font-size: 90px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.image-holder img {
	position: absolute;
	left: 0;
	top: 0;
}

.image-holder i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.iframe-head {
	border-top: 0.5px solid $light-gray;
	border-left: 0.5px solid $light-gray;
	border-right: 0.5px solid $light-gray;
	height: 43px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	color: $white;
	background: $lens-shift-orange;
}

.menu-hamburger {
	font-size: 24px !important;
	color: $lens-shift-gray;
	margin-right: 1rem;
	cursor: pointer;
}


.modal-element {
  position: absolute;
  z-index: 9997;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(138, 138, 138, .5);
  transition: opacity .3s ease;
  -webkit-transition: opacity .3s ease;
}

.modal-wrapper {
  position: fixed;
	z-index: 9999;
	max-width: 700px;
	width: 90%;
	height: 751px;
}

.modal-container {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.modal-header {
  text-align: center;
}

.modal-header h3 {
  margin-top: 63px;
  color: $lens-shift-gray;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.window-scroll {
	overflow-y: scroll;
	height: 1100px;
}


//tablet

@media all and (min-width: 40em) 
	and (max-width: 64em)
	and (-webkit-min-device-pixel-ratio: 1) {
	.navbar-small {
		justify-content: space-between;
	}



	.menu .link:hover, .link a:hover {
		color: $white !important;
		background: $lens-shift-orange;
	}

	.link i:hover {
		color: $white !important;
	}

	.link.small-link {
		padding-left: 5px;
		padding-right: 5px;
	}

	.navbar-small .link > a {
		color: $lens-shift-gray;
		padding-left: 0px !important;
		padding-right: 15px !important;
	}
}

//mobile 40em and below

@media all and (min-width: 0em) and (max-width: 40em) {
	.signup-hero-form {
		width: 100%;
	}

	#main-container {
		padding: 25px 0px;
	}

	.navbar-small {
		display:flex;
		justify-content: space-between;
	}

	.menu .link:hover, .link a:hover, .link i:hover {
		color: $white!important;
		background: $lens-shift-orange;
	}

	.link.small-link a {
		padding-left: 0px;
		padding-right: 10px;
	}

	.grid-margin-x > .cell {
		margin-right: 0px !important;
	}

	.navbar-small .link > a {
		color: $lens-shift-gray;
		padding-left: 0px !important;
		padding-right: 15px !important;
	}

	.signup-hero {
		height: 350px;
	}
}


