html, body {
	height: 100%;
	overflow-x: hidden;
}

.is-orange {
	background: #F48F14 !important;
}

.is-lightgray {
	background: #e6e6e6 !important;
}

#main-container {
	height: 100%;
	min-height: 800px;
	padding: 25px 25px;
	margin-bottom: -200px;
}

.hero {
	background: #e6e6e6;
	height: 250px;
	margin-bottom: 25px;
	padding: 50px;
}

.hero-content {
	margin: auto;
}

select {
	border-radius: 0;
}
a {
	color: #8a8a8a !important;
}

a.button {
	color: white !important;
}

.table-button {
	margin-bottom: 0px !important;
}

img {
	width: 100%;
}

.top-bar {
	padding: 0px !important;
	height: 75px;
}

.menu {
	align-items: center;
}

.menu a {
	color: white !important;
	height: 75px;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.menu .link:hover {
	color: white !important;
	background: #F48F14;
	height: 75px;
}

.menu li {
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.avatar {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	display: block;
	padding: 0px !important;
	margin: 0px 5px 0px 5px;
	display: flex !important;
	align-items: center;
	justify-content: center;
	background: #f48f14ff;
}

.avatar:hover {
	color: #2B2D2E;
}

.avatar a {
	padding: 0px !important;
}

.avatar a > img {
	max-height: 100% !important;
	width: auto;
	border-radius: 50%;
}

.inline-form {
	display: inline-block;
}

.logo {
	width: 100px;
}

.footer {
	height: 250px;
	background-color: #b0b0b0;
}

.push {
	height: 250px;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;
}

.align-right {
	justify-content: flex-end;
}

.clr {
	clear: both;
}

.vertical-spacer {
	margin-bottom: 50px;
}

.show {
  visibility: visible !important;
  display: block !important;
}

.relative-block {
	position: relative;
	margin-bottom: 1rem;
}

.dropdown-input {
	margin-bottom: 0 !important;
}

.dropdown-options {
	width: 100% !important;
	margin-left: 0;
	list-style-type: none;
	padding: 0 !important;
	position: absolute;
	z-index: 10;
	border: 0.5px solid black;
	background: #fff;
}

.select-option-item {
	padding: 0.5rem 1rem;
}

.select-option-active, .select-option-item:hover {
	background: #e6e6e6;
}

.analysis-content {
	margin-bottom: 50px;
}

.horizontal-table-head {
	background: #e6e6e6;
}

.clickable-image {
	cursor: pointer;
}

.warning {
	color: red;
}

.image_preview {
	max-width: 400px !important;
}

.type-icon {
	float: right;
	font-size: 20px;
}

.card-text {
	margin-bottom: 0px !important;
}

.image-holder {
	background: #e6e6e6;
	color: white;
	height: 250px;
	font-size: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.iframe-head {
	border-top: 0.5px solid black;
	border-left: 0.5px solid black;
	border-right: 0.5px solid black;
	height: 43px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	color: white;
}

