// Place all the styles related to the resource_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./settings";

.library-items {
	max-height: 100%;
}

.library-items .card {
	border: 0px;
}

.library-items .card-section {
	border-bottom: 1px solid $lens-shift-gray;
	border-left: 1px solid $lens-shift-gray;
	border-right: 1px solid $lens-shift-gray;
}

.wrap-infinite {
	max-height: 150px;
}

.resource-iframe {
	min-height: 750px;
	border: 1px solid $light-gray;
	width: 100%;
	padding: 0px !important;
}

.library-body {
	border-right: 1px solid $medium-gray;
}

.label a {
	color: $white;
}

.label a:hover {
	color: $lens-shift-orange;
}

.card-section p {
	font-size: 14px;
}

.resource-card a {
	color: $black !important;
}

.content-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.publish-status {
	min-width: 100px;
	width: 100px;
	margin: 0px;
}

.publish-status:hover .published-tag {
	display: none
}

.publish-status .unpublish-button {
	display: none
}

.publish-status:hover .unpublish-button {
	display: block;
}
