// Place all the styles related to the resource_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./settings";

.library-items {
	max-height: 100%;
}

.library-items .card {
	border: 0px;
	overflow: visible;
}

.sort-label {
	padding-right: 25px;
}

// resource library card image holders

.card-image-holder {
	background: $light-gray;
	color: $white;
	height: 250px;
	font-size: 90px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.card-image-holder::before {
	content: '';
	position: absolute;
	background: $white;
	height: 100px;
	width: 104%;
	top: 88%;
	left: -15px;
	-webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
	z-index: 2;
}

.card-image-holder img {
	position: absolute;
	left: 0;
	top: 0;
}

.card-image-holder i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


.wrap-infinite {
	max-height: 150px;
}

.resource-iframe {
	min-height: 750px;
	border: 1px solid $light-gray;
	width: 100%;
	padding: 0px !important;
}

.library-body {
	border-right: 1px solid $medium-gray;
}

.label a {
	color: $white;
}

.label a:hover {
	color: $lens-shift-orange;
}


.card-section p {
	font-size: 14px;
}

.resource-card a {
	color: $black !important;
}

.resource-card {
	position: relative;
	z-index: 1;
}

.resource-card .card-section {
	overflow: visible;
	background: $white;
}

.resource-card .card-section::after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	right: 8px; //10px
	left: auto;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.new-sticker {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 205px;
	right: 10px;
	z-index: 2;
}

.content-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.publish-status {
	min-width: 100px;
	width: 100px;
	margin: 0px;
}

.publish-status:hover .published-tag {
	display: none
}

.publish-status .unpublish-button {
	display: none
}

.publish-status:hover .unpublish-button {
	display: block;
}
