// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./settings";

#app.landing-app {
	background-image: image-url('landing.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.landing-hero {
	width: 80%;
	background-color: rgba(0, 0, 0, 0.8); //lens-shift-gray
	margin: 60px auto;
	color: $white;
	text-align: center;
	padding: 40px 20px;
}

.hero-logo {
	width: 80%;
	margin: auto auto;
}

//hompage styles

.home-logo {
	width: 30%;
	margin: auto auto;
	display: block;
}

.hero-content {
	width: 80%;
	padding: 25px 0px;
}

.hero-heading {
	font-size: 40px;
}

.hero-text {
	font-family: 'Hind Siliguri', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-size: 25px;
	font-weight: 500;
}

.highlight {
	background-color: $lens-shift-orange;
	color: $lens-shift-gray;
	line-height: 2;
}

.hero-heading-secondary {
	font-size: 30px;
}

.secondary-call {
	font-family: 'League Spartan', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	font-size: 20px;
	padding: 50px 50px;
	text-align: center;
}

.homepage-line {
	width: 100%;
	overflow-x: hidden;
	height: 70px;
}
.turqoise-line {
	display: block;
	margin: 0px 0px;
	width: 60%;
	border: 10px solid $lens-shift-turqoise;
}

.orange-line {
	display: block;
	margin: 0px 0px;
	width: 60%;
	border: 10px solid $lens-shift-orange;
	margin-left: 40%;
}

.feature-row {
	margin-top: 25px;
	margin-bottom: 25px;
}

.feature-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	padding: 25px 50px 0px 50px;
}

.feature-column .landing-icon {
	height: 100px;
	width: auto;
	margin-bottom: 25px;
}

.feature-column .landing-image {
	margin: auto auto;
}

.border-right {
	border-right: 3px solid $lens-shift-gray;
}

.sign-up-button {
	margin-left: 25px;
}

.social-icon {
	font-size: 30px;
}

//mailchimp

#mc_embed_signup {
	width: 80%;
	margin: auto auto;
}

@media all and (min-width: 0em)  and (max-width: 40em) { 
	.hero-content {
		width: 90%;
		padding: 25px 0px;
	}

	.hero-heading {
		font-size: 35px;
	}

	.hero-text {
		font-size: 20px;
	}

	.hero-heading-secondary {
		font-size: 25px;
	}
	.landing-hero {
		width: 100%;
	}

	.home-logo {
		width: 50%;
	}

	.border-right {
	border-right: none;
	}

}