// Place all the styles related to the streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./settings";
.loading {
	color: $medium-gray;
}
.stream-block {
	min-height: 300px;
	border: 8px solid $lens-shift-gray;
	background: $white;
	color: $lens-shift-gray;
	margin-bottom: 25px;
	padding: 25px 25px;
	overflow: hidden;
}

.stream-block a {
	color: $lens-shift-gray;
}

.stream-block a:hover {
	color: $light-gray;
}

.label-margin-right {
	margin-right: 5px;
}

.stream-desc-window {
	overflow-y: scroll;
	height: 125px;
}

.stream-thumbnail {
	height: 200px;
	overflow: hidden;
}

.stream-side-frame {
	height: 200px;
	border: 2px solid $lens-shift-gray;
	overflow: scroll;
	background: white;
	color: black;
}

.stream-side-frame ul {
	margin-left: auto;
	margin-bottom: auto;
}

.stream-side-frame ul li {
	display: flex;
	align-items: center;
	min-height: 50px;
	border-bottom: 1px solid black;
	padding: 0px 10px;
}

.syllabus-button {
	margin-bottom: 1rem;
	width: 50%;
}

.lesson-container {
	min-height: 750px;
}

.resource-syllabus-frame {
	border-bottom: 3px solid $dark-gray;
	border-left: 3px solid $dark-gray;
	border-right: 3px solid $dark-gray;
    background: $white;
}

.resource-syllabus-frame-head {
	border: 1px solid $lens-shift-gray;
	background: $lens-shift-gray;
	color: $white;
	text-align: center;
	padding: 15px 15px;
}

.resource-syllabus-item {
	border-bottom: 1px solid $light-gray;
	padding: 15px 15px;
	cursor: pointer;
}

.resource-syllabus-item:hover {
	background: $dark-gray;
}

.stream-resource-card {
	border: 0px;
}

.stream-resource-card .card-divider {
	border: 3px solid $dark-gray;
	background: $lens-shift-orange;
	font-weight: bold;
}

.stream-resource-card .card-divider .stream-resource-title {
	color: white;
	margin-right: 1rem;
}

.stream-resource-card .card-section {
	border-bottom: 3px solid $dark-gray;
	border-left: 3px solid $dark-gray;
	border-right: 3px solid $dark-gray;
}

.tabs {
	margin: 0;
    background: $white;
    list-style-type: none;
    min-height: 55px;
}

.tabs-hover:hover {
	background: $dark-gray;
	color: $white;
}

.tabs-hover:hover.tabs-title:after {
	border-left-color: $dark-gray;
}

.tabs-title {
	position: relative;
	background: $white;
	color: $dark-gray;
	border: 1px solid $lens-shift-gray;
	display: inline-block;
	height: 60px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 40px;
	padding-right: 10px;
	cursor: pointer;
}

.tabs-title:first-child {
	padding-left: 20px;
}

.tabs-title:after, .tabs-title:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	z-index: 5;
	pointer-events: none;
}

.tabs-title:after {
	border-color: rgba(0, 0, 0, 0);
	border-left-color: $white;
	border-width: 30px;
	margin-top: -30px;
}
.tabs-title:before {
	border-color: rgba(230, 230, 230, 0);
	border-left-color: $lens-shift-gray;
	border-width: 31px;
	margin-top: -31px;
}

.lesson-paragraph {
	margin: 25px 0px;
}

.lesson-is-active {
	color: $white !important;
	background: $lens-shift-gray;
}

.resource-is-active { 
	color: $white !important;
	background: $dark-gray;
}

.lesson-is-active.tabs-title:after {
	border-left-color: $lens-shift-gray;
}

.lesson-glance {
	margin-top: 25px;
}

//mobile 40em and below

@media print, screen and (max-width: 40em)
	and (-webkit-min-device-pixel-ratio: 3)  {
	.lesson-glance {
		margin-top: 50px;
	}

	.resource-syllabus-frame-head {
		margin-top: 50px;
	}

	.resource-syllabus-frame {
		max-height: 250px;
		overflow-y: scroll;
	}
}

//tablet 40em and above

@media print, screen and (min-width: 40em) 
	and (-webkit-min-device-pixel-ratio: 1) {
	.lesson-glance {
		margin-top: 50px;
	}

	.resource-syllabus-frame-head {
		margin-top: 25px;
	}

	.resource-syllabus-frame {
		max-height: 250px;
		overflow-y: scroll;
	}
}

