<p>Welcome to <b>LensShift</b>, <%= @email %>!</p>

<p>Thank you for coming on a journey of critical reflection on social impact work. We look forwrad to have you with us.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
